@font-face {
    font-family: Gilroy;
    src: url(./Gilroy.ttf);
}

@font-face {
    font-family: digital;
    src: url(./digital.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

#main {
    width: 100%;
}

#home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#home img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#home #circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    /* background-color: red; */

}

#nav {
    width: 100%;
    padding: 1vw 2vw;

    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    font-family: Gilroy;
}

#bnav {
    width: 100%;
    padding: 1vw 2vw;

    position: fixed;
    z-index: 1;
    display: flex;
    bottom: 0;
    justify-content: space-between;

}

#bnav img {
    width: 110px;
}

#gra {
    width: 100px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    display: flex;
}

#nRight h4 {
    font-size: 1.5vw;
    font-family: digital;
    margin-top: 10px;
}

#d1,
#d2,
#d3,
#d4,
#d5,
#d6 {
    width: 1.4vw;
    height: 100%;
}

#d1 {
    background-color: rgb(255, 255, 255);
}

#d2 {
    background-color: rgb(212.5, 212.5, 212.5);
}

#d3 {
    background-color: rgb(169.5, 169.5, 169.5);
}

#d4 {
    background-color: rgb(127, 127, 127);
}

#d5 {
    background-color: rgb(84.5, 84.5, 84.5);
}

#d6 {
    background-color: rgb(0, 0, 0);
}

#center {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 1.8vw;
}

#center #cimg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 210px;
}

#center img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#circle img {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle #top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rebeccapurple; */
}

#top img {
    transform: translate(-50%, -50%) rotate(-180deg);
}

#circle #btm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* background-color:rgb(71, 71, 21); */
}

#btm img:nth-child(1) {
    transform: translate(-50%, -50%) scale(2);
}

#btm img:nth-child(2) {
    transform: translate(-50%, -50%) scale(1.5);
}

#btm img:nth-child(3) {
    transform: translate(-50%, -50%) scale(1);
}

#top img:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(2);
}

#top img:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1.5);
}

#top img:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#smCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37.5vw;
    height: 37.5vw;
    border-radius: 50%;
    background-color: #fff;
}

#second {
    position: absolute;
    width: 100%;
    height: 100%;

}

#second #sTop {
    width: 100%;
    height: 65%;
    position: relative;
    overflow: hidden;
    /* background-color: rgb(201, 125, 10); */
}
#sTop h1{
    position: absolute;
    font-family: Gilroy;
    
    bottom:0%;
    left: 100%;
  
    font-size: 18vw;
}
#second #sBtm {
    width: 100%;
    height: 35%;
    position: relative;
    background-color: slategray;
}

.sTop-circle {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 222;
    top: 50%;

    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#pu {
    left: 45%;
    background-color: red;
}

#pi {
    left: 55%;
    background-color: greenyellow;
}

#sBtm p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 4vw;
    width: 50%;
    font-size: 4vw;
}
#sBtm p:nth-child(1){
    display: none;
}


#overlay h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-weight: 100;
    transform: translate(-50%, 0);
    font-family: Gilroy;
    font-size: 14vw;
}

#overlay h2 {
    white-space: nowrap;
    color: #fff;
    font-weight: 100;
    position: absolute;
    bottom: -50%;
    left: 50%;
    font-weight: 100;
    z-index: 2;
    text-transform: uppercase;
    transform: translate(-50%, 0) rotate(40deg);
    transform-origin: 0% 50%;
    font-family: Gilroy;
    font-size: 13vw;
}

#gola {
    width: 5vw;
    height: 5vw;
    z-index: 12;
    position: absolute;
    background-color: #7ac9af;
    top: 120%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#greenp {
    position: absolute;

    color: white;
    background-color: rgb(120 191 0);
    z-index: 1;
    top: 100%;
    left: 0%;
    width: 25vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#greenp #inner {
    font-family: Gilroy;
    margin-top: 130px;
    margin-left: -150px;
    padding: 0 1.9vw;
    width: 40%;
    position: relative;
    font-size: 1.5vw;

}

#inner #rr {
    margin-left: -30%;
    margin-bottom: 2vw;
}

#greenp #inner-btm {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-between;
    padding: 0 1vw;
    font-family: digital;
    font-size: 2vw;
    width: 100%;
    background-color: rgb(70 111 0);
}

#inner-btm span {
    top: 0;

    position: absolute;
    font-size: .8vw;
}